<!doctype html>
  <head>
    <title>Yo</title>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
    <link href="https://www.dropbox.com/s/1ru4nm7ewvl7a46/style.css?dl=1" rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <script src="https://www.dropbox.com/s/0n1k3k5xizggmag/jquery.ui.touch-punch.min.js?dl=1"></script>
    <script>
      var poll = JSON.parse('{{ poll|tojson|safe }}');
      $( document ).ready(function() {
        $('.sortable').sortable();
        $('.sortable').disableSelection();
        $('.sortable').on('sortstop', function( event, ui ) { storeVotes(); });
        function storeVotes() {
          var votes =  JSON.stringify($('.sortable').sortable('toArray'));
          $('#vote').val(votes);
        }
        storeVotes();
      });
    </script>
  </head>
  <body>
    <div class='center'>
      <h1>Descisions!</h1>
      <ol id="optionsList" class='sortable'>
      </ol>
      <form action="/vote" method="post" enctype="multipart/form-data" >
        <input type='hidden' name="vote" value='' id='vote'>
        <input type="submit" value='Submit your ranking' class='btn'>
      </form>
      <script>
        var optionsList = document.getElementById("optionsList");
        for(i=0; i<poll.options.length; i++) {
          var liNode = document.createElement("li");
          var textNode = document.createTextNode(poll.options[i]);
          liNode.setAttribute('id',poll.options[i]);
          liNode.appendChild(textNode);
          optionsList.appendChild(liNode);
        }
      </script>
  </body>
</html>
